<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 1234555
        script(src="js/all.js")
        link(rel="stylesheet", href="css/all.css")
    body
    br
    p 49849848949699999966